{% extends "Templates/admin_layout.twig" %}

{% block body %}
<div class="content text-center">
  <h1 class="text-center">{{error['title']}}</h1>
  <p class="text-center">
    {{error['msg']}}
  </p>
</div>
{% endblock %}
