{% extends "templates/layout.twig" %}

{% block body %}
<div class="content text-center">
  <h1>CapeCraft Admin Panel</h1>
  <hr />
  <div class="row justify-content-center">
    <div class="col-3">
      {% if query['players'] is defined %}
        <h1><i class="fas fa-smile text-success"></i></h1>
      {% else %}
        <h1><i class="fas fa-frown text-danger"></i></h1>
      {% endif %}
      CapeCraft Status
    </div>
    <div class="col-3">
      {% if query == false %}
        <h1>Error!</h1>
      {% else %}
        <h1>{{query['players']['online']}}/{{query['players']['max']}}</h1>
      {% endif %}
      Players Online
    </div>
    <div class="col-3">
      {% if ping == false %}
        <h1>Error!</h1>
      {% else %}
        <h1>{{ping}}ms</h1>
      {% endif %}
      CapeCraft Ping
    </div>
  </div>
</div>
{% endblock %}
