.btn-discord {
    background-color: #7289da !important;
}

//KBD
kbd {
    background: #191c20 !important;
    font-size: inherit !important;
    -webkit-user-select: all !important;
    -moz-user-select: all !important;
    -ms-user-select: all !important;
    user-select: all !important;
}