{% extends "Templates/layout.twig" %}

{% block body %}
<link rel="stylesheet" href="/assets/css/home.css"/>
<main class="text-white">
  <div class="div-mid text-center">
    <img class="homelogo" src="/assets/img/logo/logo.png"/>
    <h3>Come and {{message}} on <kbd class="pl-3">Play.CapeCraft.Net <i class="fa fa-copy" data-clipboard-text="Play.CapeCraft.Net"></i></kbd></h3>
    <a class="btn btn-discord btn-raised" target="_blank" href="/discord"><i class="fab fa-discord"></i> Join our Discord</a>
  </div>
</main>
{% endblock %}
