{% extends "Templates/layout.twig" %}

{% block body %}
<div class="content text-center">
  <h1>Merch</h1>
  <hr />
  <div class="row">
    <div class="col">
      <a href="/merch/uk" class="btn btn-raised btn-primary">UK Merch Store</a>
    </div>
    <div class="col">
      <a href="/merch/us" class="btn btn-raised btn-primary">US Merch Store</a>
    </div>
  </div>
</div>
{% endblock %}
