{% extends "Templates/layout.twig" %}

{% block body %}
<link rel="stylesheet" href="/assets/css/staff.css" />
<div class="content">
  <h1 class="text-center">Staff</h1>
  <hr />
  <div class="row">
    <div class="col">
      <div class="staff-group">
        <img class="img-fluid" src="https://crafatar.com/avatars/ba4161c03a42496c8ae07d13372f3371?helm=true">
        <div>
          <h2>{{staff['ba4161c03a42496c8ae07d13372f3371']}} <i class="fas fa-crown fa-xs dynamic" style="color:#DAA520" data-toggle="tooltip" data-placement="right" title="Creator"></i></h2>
          <strong>Founder</strong>
          <p>I am the founder of the server, I make all of the final decisions. Well, that's a lie. Dylan tells me what to do.</p>
          <p>I also made the <a href="https://minecraftcapes.co.uk" target="_blank">MinecraftCapes mod!</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="staff-group">
        <img class="img-fluid" src="https://crafatar.com/avatars/bf8b08a5714c46678f49efce56cb7dc5?helm=true">
        <div>
          <h2>{{staff['bf8b08a5714c46678f49efce56cb7dc5']}}</h2>
          <strong>Admin</strong>
          <p>The man who forgets his mind, the one who falls flat against the person he was moments before, he who rises to the challenge of defeating his own reflection.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col">
      <div class="staff-group">
        <img class="img-fluid" src="https://crafatar.com/avatars/86ddbc979d9247f0a7ed0c1f328f0b11?helm=true">
        <div>
          <h2>{{staff['86ddbc979d9247f0a7ed0c1f328f0b11']}}</h2>
          <strong>Mod</strong>
          <p>I may be new, but i can still ban you! No but seriously Im always slinking in the shadows so you better watch your back and sleep with one eye open.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
