{% block footer %}
<footer class="container-fluid">
  <div class="row no-gutters">
    <div class="col-lg-3">
      <img class="img-fluid" src="/assets/img/logo/logo.png">
      <h1>CapeCraft.net</h1>
      <p>Minecraft survival at its best</p>
    </div>
    <div class="col text-right">
      <p>Copyright <i class="far fa-copyright"></i> <a class="text-white" href="https://CapeCraft.net">https://CapeCraft.net</a>
        {{ "now"|date("Y") }}
      </p>
      <a class="text-white" href="mailto:staff@capecraft.net">staff@capecraft.net</a>
    </div>
  </div>
</footer>
{% endblock %}
