{% extends "Templates/layout.twig" %}

{% block body %}
<div class="content">
  <img src="/assets/img/logo/logo.png" class="w-50 d-block mx-auto pb-1">
  <p>
    These are the rules if you want to AFK. If you want to use a designated alt, <a href="/rules/alts">click here</a>!
  </p>
  <ol>
    <li>Must do ./afk to be allowed to farm while away from keyboard</li>
    <li>If found afk without running ./afk your playtime <strong>will</strong> be reset</li>
    <li>Prepare the area you are going to afk in</li>
    <ol>
      <li>Light up the area</li>
      <li>Protect the player</li>
      <li>Prevent item build up</li>
      <ol>
        <li>Collect all items produced</li>
        <li>Destroy extra</li>
      </ol>
      <li>Prevent mob buildup and collision</li>
      <ol>
        <li>Kill collected mobs quickly</li>
        <li>Give mobs that stay a large area to move in</li>
      </ol>
      <li>Prevent lag as best as you can</li>
      <ol>
        <li>Cover hoppers with droppers/furnaces</li>
        <li>Block off the outside of tall redstone torch towers</li>
        <li>Use water streams instead of long hopper chains</li>
      </ol>
    </ol>
    <li>No afking at public farms</li>
    <li>No auto reloggers</li>
    <li>No automation bots</li>
    <li>AutoHotkey is allowed</li>
    <ol>
      <li>Don’t use memory reading</li>
    </ol>
    <li>Time lost while afk will not be returned</li>
    <ol>
      <li>Make sure you are not afk when playing</li>
      <li>You will be notified above your hotbar when you are afk</li>
    </ol>
  </ol>
  <strong>If you break any of these rules your access to the afk command will removed!</strong>
</div>
{% endblock %}
