{% extends "Templates/layout.twig" %}

{% block body %}
<div class="content">
  <img src="/assets/img/logo/logo.png" class="w-50 d-block mx-auto pb-1">
  <p>
    These are the rules if you have an alt. You'll need to let staff know in discord if you want to register one!
  </p>
  <ol>
    <li>Don’t AFK with your main</li>
    <li>Please prep the area you plan on afking in</li>
    <ol>
      <li>Light up the area</li>
      <li>Block yourself in</li>
      <li>Cover hoppers</li>
      <li>Reduce amount of colliding mobs to a minimum</li>
      <li>Have a way to pickup all items created in your area</li>
    </ol>
    <li>If you don’t follow the above rule and it causes lag, you will be kicked for the reason of [lag]</li>
    <li>Don’t afk at public farms</li>
  </ol>
  <strong>Stipulations on alt accounts</strong>
  <ol>
    <li>Wont get kicked for being afk</li>
    <li>Can't talk in chat (will be muted by staff)</li>
    <li>Doesn’t get playtime perks</li>
    <li>Doesn’t track playtime</li>
    <li>Can /tpa</li>
    <li>Has no homes</li>
  </ol>
</div>
{% endblock %}
