{% extends "Templates/layout.twig" %}

{% block body %}
<link rel="stylesheet" href="/assets/css/staff.css" />
<div class="content">
  <img src="/assets/img/logo/logo.png" class="w-50 d-block mx-auto pb-1">
  <p>
    CapeCraft is a server dedicated to keeping Minecraft's core aspect alive. We are a survival server where you'll be encouraged to work, trade and share with other players. CapeCraft is a survival server with No PVP, No Griefing and No Abuse of
    any type.
    We try to keep our server family friendly which is why we ask for no swearing and an English only chat on the server. All of our staff are friendly but firm and rule breakers will be swiftly dealt with.
  </p>
  <p>
    The community will thrive and develop into small communities each having their own village name and shops. Certain people will be in charge of each village and this will be entirely up to the people who run them. Players can start their own
    shops and
    villages just by building them and inviting people over, they can grow from there. All these villages will be player run and no commands will be used to set any villages up, nor will any ranks be given to players who own a village. Each village
    can
    have their own rules and it's completely up to the players to run and maintain them!
  </p>
  <p>
    Of course, there is always the option to live on your own, not in a village which is always as fun! You can just visit the public shop to buy/sell items and enjoy survival from there.
  </p>
  <ol>
    <li>Game Play Rules</li>
    <ol>
      <li>No Griefing</li>
      <p>
        Griefing is willfully breaking or placing blocks in somebody else's build This also includes killing other people's animals or blocking or locking chests that do not belong to you. This can be very annoying or upsetting to other players.
      </p>
      <li>No Stealing</li>
      <p>
        Stealing is when you take items from chests that are not owned by you or not designated public chests. Do not take items from unlocked chests, item frames, farms or steal animals owned by another player. These actions are against our clear rules and will result in punishment.
      </p>
      <li>No Hacks or Cheats</li>
      <p>
        Hacking and cheating are not allowed. This means that you can not use any mod that gives an unfair advantage over other players. This includes but is not limited to flight and x-ray mods. PvP cheats and game exploits are also banned. Game exploits are where you deliberately expliot the game in order for it to have an adverse effect rather then what it is supposed to do.  When we all play the game fairly and respectfully, everyone has a better time!
      </p>
      <li>Do Not AFK</li>
      <p>
        Going AFK at a farm to collect resources while doing other things is against the rules. As ranks are based on playtime, being caught AFK farming can result in your playtime being reset and you being demoted. However, if you wish to AFK farm for resources, ALT accounts can be used. ALTs must follow the rules here: <a href="https://capecraft.net/rules/alts">https://capecraft.net/rules/alts</a>.
      </p>
      <li>Be aware of other players</li>
      <p>
        When building in the wild, check the area! Leave at least 100 blocks between builds. This is so everyone has space to expand their bases if they wish to.  Do not join and build in other players villages without asking them first. It is their property after all!
      </p>
    </ol>
    <li>Chat Rules</li>
    <ol>
      <li>English only in global chat</li>
      <p>
        Our Minecraft Chat and Discord should only be used using the English language, we understand that this may be hard for some players but use this as a chance to learn a new language!  Players continually breaking this rule will be muted. This is so we can make an environment where everybody understands what is being said. Staff also need to be able to clearly understand the chat to keep it safe. You can still use other languages in private messages (/msg).
      </p>
      <li>No Swearing</li>
      <p>
        CapeCraft is a family-friendly server and because of that, we have a strict no swearing policy. Please keep chat kind and respectful, abuse of this can result in punishment. Some discord channels are labeled NSFW, you must accept this before entering. Swearing is allowed in these channels. Do not swear in channels that are not designated NSFW.
      </p>
      <li>No Bullying/Trolling/Hate Speech</li>
      <p>
        Bullying is repeated deliberate use of words or actions which cause distress to others. Your safety and privacy on this server have and always will be CapeCraft’s first priority. CapeCraft has a <strong>0% tolerance policy toward bullying</strong>. We do not discuss incidents of bullying with other players, this is to protect the privacy of all involved.
      </p>
      <p>
        Trolling is convincing someone so they truly believe in what you are saying, no matter how outrageous. Trolling can also be giving others malicious instructions, under the disguise of help. <strong>Trolling is annoying and upsetting to some players</strong>, any incidents of this will result in all troll players being banned.
      </p>
      <p>
        Hate speech is sprouting negative expressions of hatred toward someone on account of that person's colour, race, disability, nationality (including citizenship), ethnic or national origin, religion, gender identity, or sexual orientation. As with bullying, <strong>CapeCraft has a 0% tolerance policy towards all and any hate speech</strong>. We will instantly ban any players being found to use such speech. In many countries, hate speech is also illegal.
      </p>
      <p>
        Any players found to target other server members using bullying, trolling or hate speech will be punished, regardless of which social media method was used to conduct it. <strong>This means messages sent on but not limited to other private discords or Facebook</strong>.
      </p>
      <p>
        Please talk to a member of staff if another player is bullying, trolling or using hate speech towards you. You or staff may at any time request a private support chat room on discord to further discuss and investigate incidents.
      </p>
      <li>Keep Chat Friendly</li>
      <p>
        Always be kind to other players on CapeCraft, everyone is here just to have fun. In order to keep chat friendly, we avoid discussing serious topics such as Politics, sexuality and mental health. The staff is here to help players and maintain the server. We are not trained therapists.
      </p>
      <li>No Advertising</li>
      <p>
        Please do not use our server to advertise things like other server IP addresses, discords and websites. It's fine to discuss other well-known servers like Hypixel or HiveMC but please do not ask other players to play with you elsewhere. We like when you play CapeCraft!
      </p>
      <li>Reporting Issues</li>
      <p>
        There are different ways in which you can report an issue! If staff are online, send a private message detailing what has happened, if not, don't panic!
        You can still use the Discord server, we have #support for small issues and #reports for reporting griefs and other urgent issues like bullying or hate speech. Make sure to ping @staff when leaving a comment so we get notified. Do not spam us however, we try to assist when possible. Leaving coordinates, screenshots and the names of players involved also help us investigate.
      </p>
    </ol>
    <strong>Breaking rules will result in punishment, by playing the server you agree to follow all of the rules listed above. </strong>
  </ol>
</div>
{% endblock %}
