<footer class="container-fluid">
  <div class="row no-gutters">
    <div class="col-lg-3">
      <img class="img-fluid" src="/assets/img/logo/logo.png">
      <h1>CapeCraft.net</h1>
      <p>Minecraft survival at its best</p>
    </div>
    <div class="col text-right">
      <ul class="nav justify-content-end">
        <li class="nav-item"><a class="nav-link text-white" href="/">Home</a></li>
        <li class="nav-item"><a class="nav-link text-white" href="/blog">Blog</a></li>
        <li class="nav-item dropdown">
          <a class="nav-link text-white dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown">Rules</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/rules">Game Rules</a>
            <a class="dropdown-item" href="/rules/alts">Alt Rules</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/unban">Unban Request</a>
          </div>
        </li>
        <li class="nav-item"><a class="nav-link text-white" href="/staff">Staff</a></li>
        <li class="nav-item"><a class="nav-link text-white" target="_blank" href="/merch">Merch</a></li>
        <li class="nav-item"><a class="nav-link text-white" target="_blank" href="/donate">Donate</a></li>
        <li class="nav-item"><a class="nav-link text-white" target="_blank" href="/discord">Discord</a></li>
      </ul>
      <p>Copyright <i class="far fa-copyright"></i> <a class="text-white" href="https://CapeCraft.net">https://CapeCraft.net</a>
        {{ "now"|date("Y") }}
      </p>
      <a class="text-white" href="mailto:staff@capecraft.net">staff@capecraft.net</a>
    </div>
  </div>
</footer>
