{% extends "Templates/admin_layout.twig" %}

{% block body %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.js"></script>
<div class="content">
  <h1 class="text-center">Edit Blog</h1>
  <hr />
  <form>
    <div class="form-group">
      <label for="title" class="bmd-label-floating">Title</label>
      <input type="text" class="form-control" id="title" value="{{blog['title']}}" maxlength="75" name="title">
    </div>
    <div class="form-group">
      <label for="summernote" class="bmd-label-floating">Content</label>
      <textarea id="summernote" name="content"></textarea>
    </div>
    <div class="form-group">
      <label for="thumbnail" class="bmd-label-floating">Thumbnail</label>
      <input type="file" class="form-control-file" id="thumbnail" name="thumbnail">
    </div>
    <a href="/admin/blog" class="btn btn-default">Cancel</a>
    <button type="submit" class="btn btn-primary btn-raised">Submit</button>
  </form>
  <!-- SummerNote Stuff -->
  <style>
    .note-toolbar {
      background: #009688 !important;
    }
    .note-btn-group {
      margin: 0px !important;
    }
  </style>
  <script>
    $(document).ready(function() {
      $('#summernote').summernote({
        tabsize: 2,
        height: 300,
      });
      $('#summernote').summernote('code', "{{blog['content']}}")
    });
  </script>
</div>
{% endblock %}
